:root {
  --background-color: white;
  --text-color: black;
  --primay-color: #4cb3d4;
  --heading-anchor: ' #';
  --external-link-anchor: ' ⬈';
  --table-hover-color: #eef9fd;
  --code-background: #f6f7f8;
  --code-border-radius: 0.4rem;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --code-font-size: 90%;
  --code-padding-vertical: 0.1rem;
  --code-padding-horizontal: 0.1rem;
}